@charset 'utf-8';
    body {
      font-family: "Microsoft Yahei";
      font-size: 16px;
      position: relative;
      /*padding-top: 50px;*/

    }
    li{
      list-style: none;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
    a:hover, a:focus {
      color: #fff;
      text-decoration: none;
    }
    .row {
    margin-right: 0;
    margin-left: 0;
    }

    .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    color: #fff;
    background:transparent;
    }
    .navbar-inverse .navbar-nav>li>a {
        border-bottom: 2px solid transparent;
        color: #fff;
    }
    .navbar-inverse .navbar-nav>li>a:hover{

      border-bottom: 2px solid rgb(254,208,53);
    }
        .dropdown-menu {background-color: transparent;
          min-width: 100px;}

        .dropdown-menu>li>a {
          padding: 3px 10px;
          color: #fff;

      }
        .navbar{
          margin-bottom: 0;
          border-radius: 0;

          background: transparent;
          border:0;
          transition: all .5s ease;
        }

        .navbar-brand{
          padding:6px 35px;

        }
        footer{
          background-color: #666;
          border-top: 1px solid #ccc;
          padding: 20px;
          text-align: center;
          color: #eee;
        }
